# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASS=

# MySQL (Keycloak DB)
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Keycloak
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KC_DB=
KC_DB_URL_HOST=
KC_DB_URL_DATABASE=
KC_DB_USERNAME=
KC_DB_PASSWORD=
