# Postgres
POSTGRES_HOST=
# LOOK IN ENV FOR YOUR NOTE RADU!!!
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PGDATA=
POSTGRES_PORT=

# RabbitMQ
RABBITMQ_HOST=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_PORT=
RABBITMQ_MGMT_PORT=

# MySQL (Keycloak DB)
KC_DB=
KC_DB_URL_HOST=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_PORT=


# Keycloak admin
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_PORT=

# Frontends
PLATFORM_FRONTEND_PORT=
CONNECT4_FRONTEND_PORT=

# Backends
CONNECT4_BACKEND_PORT=

# Local build paths
PLATFORM_BACKEND_PATH=
PLATFORM_FRONTEND_PATH=
CONNECT4_BACKEND_PATH=
CONNECT4_FRONTEND_PATH=
AI_CONNECT4_PLAYER_PATH=

# Remote images
PLATFORM_BACKEND_IMAGE=
PLATFORM_FRONTEND_IMAGE=
CONNECT4_BACKEND_IMAGE=
CONNECT4_FRONTEND_IMAGE=
AI_CONNECT4_PLAYER_IMAGE=
